[submodule "libyang"]
	path = libyang
	url = https://github.com/CESNET/libyang.git
[submodule "sysrepo"]
	path = sysrepo
	url = https://github.com/sysrepo/sysrepo.git
[submodule "libnetconf2"]
	path = libnetconf2
	url = https://github.com/CESNET/libnetconf2.git
[submodule "netopeer2"]
	path = netopeer2
	url = https://github.com/odidev/netopeer2.git
[submodule "libssh"]
	path = libssh
	url = http://git.libssh.org/projects/libssh.git
[submodule "libruapp"]
	path = libruapp
	url = https://github.com/odidev/libruapp
